
    <footer class="page-footer teal">
 	<% if !user_signed_in? %>  
    <div class="container">
      <div class="row">
        <div class="col col l6 m6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of students working on this project like it's our full time job. So please enjoy the site, but if you don't like it let us know, send an email.
          </p>


        </div>
      </div>
    </div>
    <%end%>
     <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">People that wanna help</a>
      </div>
    </div>

    </footer>

      
  